$blue: #15b5ef;
$purple: #9900cc;
$dark_blue: #3e4095;
$bright_blue: #00afef;
$green: #1df01d;

body {
	background-color: #fff;
}

.blue {
    background-color: $blue !important
}

.dark-blue {
    background-color: $dark_blue !important;
}

.purple {
    background-color: $purple !important;
}

.light_blue {
    background-color: #1f77c2 !important;
}

.green {
    background-color: #09d909 !important;
}

.section-header {
    
    h2 {
        color: $blue;
        
        span {
            color: #000;
        }
    }
}

.btn-default {
    color: #fff;
    background-color: $blue;
    transition-duration: 400ms;
    
    &:hover, &:active, &:focus {
        color: #fff;
        background-color: $purple;
        border-color: transparent;
        outline: none;
        outline-offset: 0;
    }
    
    &:active:focus {
        color: #fff;
        background-color: $purple;
        border-color: transparent;
        outline: none;
        outline-offset: 0;
    }
}

/*=======================================================

	// PRE-LOADER

=========================================================*/

.preloader {
	background-color: $blue;
}

/*============================= End Preloader =============================*/

/*=======================================================

	// NAVIGATION

=========================================================*/

.main-navbar-top.navbar-home {
	background-color: #f8fdfe;
}

.main-navbar-top.navbar-home .navbar-nav li a {
	color: #000;

	&:hover {
		color: #fff;
	}
}

.main-navbar-top.navbar-home .navbar-nav li.active {
	
    a {
        color: #fff;
    }
}

.main-navbar-top.navbar-home .navbar-nav li.dropdown {
    
    &:hover, &:active, &:focus {
        
        a {
            color: #fff;
        }
    }
}

.navbar-nav {
    
    li {
        
        &:hover {
            background: $purple;
            
            a {
                color: #fff;
            }
        }
    }
    
    li.active {
        background: $purple;
        
        a {
            color: #fff;
        }
    }
}

.dropdown.open {
    
    background: $purple; 

    a {
        background-color: transparent !important;
        color: #fff;
        
        &:hover {
            background-color: transparent;
        }
    }
    
    ul {
        
        a {
            color: #fff;
        }
    }
}

.navbar-home {
    
    .navbar-nav {
        
        li {
            
            ul {
                
                li {
                    
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.nav>li>a {
	color: #000;
}


@media screen and (max-width: 991px) {

	.navbar-toggle {
		border: 1px solid #fff;

		.icon-bar {
			background-color: #fff;
		}
	}

	.navbar-collapse {
		background-color: #fff;
		border-top: 1px solid $blue;
        padding-right: 0;
	}

	.nav > li > a {
		color: #00;
	}

	.nav>li>a:hover, .nav>li>a:focus {
		color: #000;
	}

	.navbar-nav li.active:after {
		width: 100%;
		background: $blue;
	}

	.main-navbar-top.navbar-home {

		.navbar-toggle {
			border: 1px solid #fff;

			.icon-bar {
				background-color: #fff;
			}
		}
        
        .nav > li > a {
		    color: #000;
        }

        .nav>li>a:hover, .nav>li>a:focus {
            color: #000;
        }
        
        .navbar-nav li.active:after {
            background: $blue;
        }
	}
}

.dropdown-menu {
    background-color: $blue;
    border-top: 5px solid $purple;
}

/*============================= End Navigation =============================*/

/****SEARCH BAR****/

.srcshow {
    background-color: #90c;
}

.srcbox {
    background-color: $purple;
    
    input {
        color: #fff;
        background: transparent;
    }
    
    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }
}

.top-src {
    
    .search-form {
        
        input {
            background: $purple;
        }
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    input::-webkit-input-placeholder {
        color: #fff;
    }

    .search-form button.search-submit {
        background-color: transparent;
    }
}

/****SEARCH BAR END****/

/*============================= Mobile Navigation =============================*/

.mobile-screen {
    background-color: #F8FDFE;
}

.mobile-view {
    background: $purple;
}

.showhide {
    color: #fff;
    
    &:hover {
        color: #000;
    }
    
    b {
      
        &.txtl {
          color: #fff;
        }
      
        &.txtr {
          color: #fff;
        }
    }
}

.mobinav {
    
    a {;
        color: #fff;
    }
    
    ul li {
        
        &.current-menu-item > a, a:hover {
            color: #ffff00;
        }
    }
}
/*============================= End Mobile Navigation =============================*/

/*=======================================================

	// HEADER SECTION

=========================================================*/

.header {
    
    .fullwidthbanner {
        
        
        .tp-caption {
            
            h2 {
                color: $blue !important;
                
                span {
                    color: #000 !important;
                }
            }
            
            h3 {
                color: $purple;
            }
        }
    }
}

/*============================= End Header Section =============================*/

/*=======================================================

	// SECOND SECTION

=========================================================*/

.second-section {
    padding: 60px 0;
    
    .section-header {
        
        h6 {
            color: #25465a;
        }
        
        p {
            color: #767676;
        }
    }
    
    .section-content {
        
        .section-item {
            
            &:nth-child(1n) h3 {
                color: #3e4095;
            }
            
            &:nth-child(2n) h3 {
                color: #1bf01a;
            }
            
            &:nth-child(3n) h3 {
                color: #9900cc;
            }
            
            &:nth-child(1n):hover h3 {
                color: $blue;
            }
            
            &:nth-child(2n):hover h3 {
                color: $blue;
            }
            
            &:nth-child(3n):hover h3 {
                color: $blue;
            }
            
            p {
                color: #808285;
            }
        }
    }
}

/*============================= End Second Section =============================*/

/*=======================================================

	// THIRD SECTION

=========================================================*/

.third-section {
    background-color: #fff;
    
    .left {
        
        p {
            color: $purple;
        }
    }
    
    .right-up {
        
        p {
            color: $purple;
        }
    }
    
    .right-bottom {
        
        p {
            color: $purple;
        }
    }
}

/*============================= End Third Section =============================*/

/*=======================================================

	// FOURTH SECTION

=========================================================*/

.fourth-section {
    background-color: #eef9fe;
    
    .content-item {
        
        h3 {
            color: #fff;
        }
        
        p {
            color: #fff;
        }
    }
    
    .box1 {
        background-color: $blue;
    }
    
    .box2 {
        background-color: $dark_blue;
    }
    
    .box3 {
        background-color: $purple;
    }
}


/*============================= End Fourth Section =============================*/

/*=======================================================

	// FIFTH SECTION

=========================================================*/

.fifth-section {
    
    .content-item {
        
        .item-up {
            
            .up-date {
                
                p {
                    margin: 0;
                    color: $dark_blue;
                }
            }
        }
        
        .item-down {
            
            p:nth-child(1) {
                
                a {
                    color: $purple;
                    
                    &:hover {
                        color: $blue;
                    }
                }
            }
            
            p:nth-child(2) {
                
                a {
                    color: $blue;
                    
                    &:hover {
                        color: $purple;
                    }
                }
            }
        }
    }
}

/*============================= End Fifth Section =============================*/

/*=======================================================

	// SIXTH SECTION

=========================================================*/

.sixth-section {
    background-color: $purple;
    
    .section-header {
        
        h2 {
            color: #fff;
        }
    }
    
    .stock {
        background-color: #fff;
        
        p {
            color: $blue;
            
            span {
                color: #000;
            }
            
            .green-color {
                color: #080;
            }
        }
    }
}

/*============================= End Sixth Section =============================*/

/*=======================================================

	// SEVENTH SECTION

=========================================================*/

.seventh-section {
    background-color: $dark_blue;
    
    .section-header {
        
        h2, p {
            color: #fff;
        }
    }
    
    .partner {
        
        .partner-list {
            
            .partner-item {
                background: #eef9fe;
            }
        }
    }
}

/*============================= End Seventh Section =============================*/

/*=======================================================

	// Eighth SECTION

=========================================================*/

.eighth-section {
    background: rgb(0, 175, 239) !important;
    
    .blog-slider {
        
        .item {
            
            figcaption {
                
                p {
                    color: #fff;
                }
                
                span {
                    color: #fff;
                }
                
                .yellow {
                    
                    a {
                        color: #ffff00;
                    }
                }
            }
        }
    }
}

.owl-theme .owl-controls .owl-nav {
            
    .owl-prev {
        color: #33BEEF;
        background: transparent;
        
        &:hover {
            color: $dark_blue;
            background: transparent;
        }
    }
    
    .owl-next {
        color: #33BEEF;
        background: transparent;
        
        &:hover {
            color: $dark_blue;
            background: transparent;
        }
    }
}

.owl-theme .owl-dots .owl-dot {
    
    span {
        border: 1px solid #fff;
        background: transparent;
        
        &:hover {
            background: transparent;
        }
    }
    
    &:hover {
        
        span {
            background: transparent;
        }
    }
}

.owl-theme .owl-dots .owl-dot.active {
    
    span {
        background: #fff;
    }
}


/*============================= End Eighth Section =============================*/

/*=======================================================

	// Footer SECTION

=========================================================*/

.footer {
    
    .footer-content {
        
        .footer-item {
            
            h4 {
                color: $purple;
            }
            
            p {
                color: #767677;
            }
            
            span {
                color: #767677;

                a {
                    color: #767677;

                    &:hover {
                        color: $bright_blue;
                    }
                }
            }
            
            .footer-logo {
                
                ul {
                    
                    li {
                        
                        a {
                            color: $dark_blue;
                            border-color: $dark_blue;
                            
                            &:hover {
                                color: $purple;
                                border-color: $purple;
                            }
                        }
                    }
                }
            }
            
            .footer-menu {
                
                ul {
                    
                    li {
                        
                        a {
                            color: #767677;
                            
                            &:hover {
                                color: $bright_blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*============================= End Footer Section =============================*/

/*============================= End index.html =============================*/

/*=======================================================

	// about html

=========================================================*/

/*=======================================================

	// header section

=========================================================*/
  
.sub-header {
    
    h1 {
        color: $bright_blue;
        
        span {
            color: #000;
        }
    }
}

/*============================= End Header Section =============================*/

/*=======================================================

	// Sub section

=========================================================*/

.section-title {
    margin-top: 30px;
    
    h6 {
        color: #01a8e5;
        
        span {
            color: #010101;
        }
    }
}

.sub-section {
    
    .section-header {
        
        h2 {
            color: #01a8e5;
            margin: 0;
            
            .first-h2 {
                color: $dark_blue;
            }
            
            .second-h2 {
                color: $purple;
            }
        }
    }
    
    .down-header {
        
        h2 {
            color: #01a8e5 !important;
            margin: 0;
            
            .first-h2 {
                color: $dark_blue;
            }
            
            .second-h2 {
                color: $purple;
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*=======================================================

	// Sub section

=========================================================*/

.about-third-section {
    
    .sub-section-header {
        
        h2 {
            color: $bright_blue;
        }
    }
    
    .section-content {
        
        .section-article {
            
            ul {
                
                li {
                    color: #383838 !important;
                    
                    span {
                        color: #000 !important;
                    }
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*=======================================================

	// Sub section

=========================================================*/

.about-fourth-section {
    
    .section-header {
        
        h2 {
            color: #fff;
        }
    }
    
    .section-content {
        
        .section-item {
            
            h3 {
                color: #fff;
            }
            
            ul {
            
                li {
                    color: #fff;
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*=======================================================

	// Sub section

=========================================================*/

.about-sixth-section {
    
    .section-header {
        
        h2 {
            color: #fff;
        }
    }
    
    .section-content {
        
        .section-item {
            
            h3 {
                color: #fff;
            }
            
            ul {
            
                li {
                    color: #fff;
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*=======================================================

	// Sub section

=========================================================*/

.about-sixth-section {
    
    .section-header {
        
        h2 {
            
            span {
                color: #fff;
            }
        }
        
        h3 {
            color: #fff;
        }
    }
}

.trade {
    
    h3 {
        color: #fff;
    }
}

/*============================= End Sub Section =============================*/

/*============================= End about.html =============================*/

/*=======================================================

	// board html

=========================================================*/

/*=======================================================

	// Sub section

=========================================================*/

.skew-third-section {
    
    .section-content {
        
        .skew-bg {
            
            ul {
                
                li:nth-child(1) {
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #038cbe;
                            }
                        }
                    }
                }
                
                li:nth-child(2) {
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #19d119 0%, #28e028 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #15b215;
                            }
                        }
                    }
                }
                
                li:nth-child(3) {
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, $dark_blue, 0%, #3a3c8b 0%, #4c4d9c 100%);
                    background: -webkit-linear-gradient(top, $dark_blue, 0%, #3a3c8b 0%, #4c4d9c 100%);
                    background: linear-gradient(to bottom, $dark_blue, 0%, #3a3c8b 0%, #4c4d9c 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #353679;
                            }
                        }
                    }
                }
                
                li:nth-child(4) {
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    background: -webkit-linear-gradient(top, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    background: linear-gradient(to bottom, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #7905a1;
                            }
                        }
                    }
                }
                
                li {
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            h3 {
                                color: #fff;
                            }
                            
                            h6 {
                                color: #fff;
                            }
                            
                            p {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*============================= End board.html =============================*/

/*=======================================================

	// management html

=========================================================*/

/*=======================================================

	// Sub section

=========================================================*/

.man-skew-third-section {
    
    .section-content {
        
        .skew-bg {
            
            ul {
                
                li:nth-child(1) {
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #038cbe;
                            }
                        }
                    }
                }
                
                li:nth-child(2) {
                    background-color: $purple;
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, $purple, 0%, #8901b8 0%, #9d15cc 100%);
                    background: -webkit-linear-gradient(top, $purple, 0%, #8901b8 0%, #9d15cc 100%);
                    background: linear-gradient(to bottom, $purple, 0%, #8901b8 0%, #9d15cc 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #7905a1;
                            }
                        }
                    }
                }
                
                li:nth-child(3) {
                    background-color: #24dc24;
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #19d119 0%, #28e028 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #15b215;
                            }
                        }
                    }
                }
                
                li:nth-child(4) {
                    background-color: $dark_blue;
                    background: #1e5799;
                    background: -moz-linear-gradient(top, $dark_blue 0%, #3a3c8b 0%, #4c4d9c 100%);
                    background: -webkit-linear-gradient(top, $dark_blue 0%, #3a3c8b 0%, #4c4d9c 100%);
                    background: linear-gradient(to bottom, $dark_blue 0%, #3a3c8b 0%, #4c4d9c 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #353679;
                            }
                        }
                    }
                }
                
                li:nth-child(5) {
                    background-color: #10b1ec;
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #00a1dc 0%, #14b5f0 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #038cbe;
                            }
                        }
                    }
                }
                
                li:nth-child(6) {
                    background-color: $purple;
                    background: $blue;
                    background: -moz-linear-gradient(top, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    background: -webkit-linear-gradient(top, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    background: linear-gradient(to bottom, $purple 0%, #8901b8 0%, #9d15cc 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #7905a1;
                            }
                        }
                    }
                }
                
                li:nth-child(7) {
                    background-color: #24dc24;
                    background: $dark_blue;
                    background: -moz-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: -webkit-linear-gradient(top, #1e5799 0%, #19d119 0%, #28e028 100%);
                    background: linear-gradient(to bottom, #1e5799 0%, #19d119 0%, #28e028 100%);
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            hr {
                                border-bottom: 1px solid #15b215;
                            }
                        }
                    }
                }
                
                li {
                    
                    .skew-item {
                        
                        .item-blog {
                            
                            h3 {
                                color: #fff;
                            }
                            
                            h6 {
                                color: #fff;
                            }
                            
                            p {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

/*============================= End management.html =============================*/

/*=======================================================

	// team html

=========================================================*/

/*=======================================================

	// Sub section

=========================================================*/

.partner-third-section {
    
    .section-header {
        
        h2 {
            color: #000000;
        }
        
        p {
            color: #000000;
        }
    }
    
    .section-content {
        
        ul {
            
            li {
                background-color: #00afef;
                border-top: 0px solid #dadada;
                border-right: 0px solid #dadada;
                
                .logo-img {
                    background: #3e4095;
                }
            }
        }
    }
}


/*============================= End Sub Section =============================*/

/*============================= End team.html =============================*/

/*=======================================================

	// Sub section

======================================================*/

.solution-third-section {
    
    .section-content {
        
        .icon-item {
            
            .item-img {
                
                img {
                    
                }
            }
            
            .icon-details {
                 
                h4 {
                    color: #01a8e5;
                }
            }
        }
    }
    
    .product-list {
        
        ul {
            
            li {
                
                &:nth-child(1){
                    background-color: #01a8e5;
                }
                
                &:nth-child(2){
                    background-color: $dark_blue;
                }
                
                &:nth-child(3){
                    background-color: $purple;
                }
                
                &:nth-child(4){
                    background-color: #11de10;
                }
                
                span {
                    color: #fff;
                }
            }
        }
    }
}

/*============================= End Sub Section =============================*/

.solution-fourth-section {
    
    .section-content {
        
        .item {
            
            .item-details {
                
                h3 {
                    color: $bright_blue;
                    
                    span {
                        color: #000;
                    }
                }
            }
        }
    }
}

.color-header {
    
    h2 {
        color: #01a8e5;
    
        span {
            color: #000;
        }
    }
    
}

.investor-third-section {
    
    .section-content {
        
        .section-item {
            
            .item-img {
                
                img {
                    
                }
                
                h3 {
                    color: #fff;
                }
            }
            
            p {
                color: $purple;
            }
        }
    }
    
    .no-pad {
        
        &:nth-child(1) {
                
            .section-item {

                .item-img {

                    h3 {
                        background: #01a8e5;
                        
                        &:after {
                            border-bottom-color: #01a8e5;
                        }
                    }
                }
            }
        }
        
        &:nth-child(2) {
                
            .section-item {

                .item-img {

                    h3 {
                        background: $purple;
                        
                        &:after {
                            border-bottom-color: $purple;
                        }
                    }
                }
            }
        }
        
        &:nth-child(3) {
                
            .section-item {

                .item-img {

                    h3 {
                        background: $dark_blue;
                        
                        &:after {
                            border-bottom-color: $dark_blue;
                        }
                    }
                }
            }
        }
        
        &:nth-child(4) {
                
            .section-item {

                .item-img {

                    h3 {
                        background: $green;
                        
                        &:after {
                            border-bottom-color: $green;
                        }
                    }
                }
            }
        }
    }
}

.changeColor {
    
    h2 {
        
        .first-h2 {
            color: #3e4095;
        }

        .second-h2 {
            color: #9900cc;
        }
    }
}

.investor-fourth-section {
    
    .invest-cnt {
        
        h2 {
            color: #ffffff;
        }
        
        h5 {
            color: #fff;
        }
        
        ul {
            padding-left: 0;
            
            li {
                color: #fff;
                
                a {
                    color: #fff;
                }
            }
        }  
    }
    
}

.email-subscription {
    background: #f8fdff;
    
    .email-sub-left {
        
        h2 {
            color: #01a8e5;
            
            span {
                color: #000;
            }
        }
    }
    
    .email-sub-right {
        
        .input-group {
            
            input {
                border: solid 1px #dadada;
                color: #000;
            }
            
            span {
                
                .btn {
                    border: solid 1px $purple;
                    border-right: none;
                    background: $purple;
                    color: #fff;
                }
            }
        }
    }
}

.financial-third-section {
    
    .section-content {
        
        p {
            color: #383838;
            
            a {
                color: $bright_blue;
                
                &:hover {
                    color: #000;
                }
            }
        }
        
        ul {
            
            li {
                color: #000;
                
                a {
                    color: $bright_blue;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}

.artilium-header {
    
    .section-content {
        
        .item-heading {
            background-color: $dark_blue;
            
            h1 {
                color: #fff;
            }
        }
    }
    
    .header-title {
        background-color: $dark_blue;
        
        h2 {
            color: #fff;
        }
    }
}

.uptodate-section {
    
    .section-header {
        
        h2 {
            color: $dark_blue;
        }
    }
}

.news-sec {

    ul {

        li {
            background-color: #ffffff;

            h5 {
                color: #ec0477;
            }

            h3 {
                color: #9500c8;

                a {
                    color: #9500c8;
                }
            }

            p {
                color: #2a2a2a;
            }

            h6 {
                color: #070707;

                a {
                    color: #ec0477;
                }
            }

        }
    }
}

.news-section {
    background-color: #fff;
    
    .section-header {
        
        h2 {
            color: $bright_blue;
            
        }
    }
}

.pagination {
    
    ul {
        
        li {
            background: #fff;
            color: #1b1b1b;
            
            &:hover {
                background-color: $purple;
                color: #fff;
            }
        }
        
        li.current {
            background-color: $purple;
            color: #fff;
        }
        
        .prev-page {
            background-color: $dark_blue;
        }
        
        .nxt-page {
            background-color: $dark_blue;
        }
    }
}

.news-month {
    background-color: #fff;
    
    ul {
        
        li {
            
            a {
                color: #9400c5;
                
                &:hover {
                    color: #9400c5;
                }
            }
        }
    }
}

.archive-down-header {
    background: #fff;
}

.carrer-third-section {
    
    .section-header {
        
        h2 {
            color: $bright_blue;
        }
    }
    
    .section-content {
        
        .solu-sec {
            
            p {
                color: #383838;
            }
        }
    }
    
    center {
        color: #767676;
        
        a {
            
            &:hover {
                color: #000;
            }
        }
    }
}

.offer {

    ul {
        
        p {
            color: #383838;
        }
    }
}

.getintouch {
    
    h2 {
        color: #fff;
    }
    
    .section-header {
        
        h2 {
            color: #fff;
            
            span {
                color: #fff !important;
            }
        }
    }
    
    .get-add {
        
        p {
            color: #fff;
        }
    }
    
    .form-info {
        background-color: #fff;
        
        .cont-form {
            background: #fff;
            
            h3 {
                color: #232627;
            }
            
            ul {
                
                li {
                    
                    .cont-form ul li label {
                        color: #828282;
                    }
                    
                    input {
                        border-bottom: 1px solid #d0d0d0;
                        color: #000;
                        
                        &:focus {
                            border-bottom: 3px solid #19b4ed;
                            background: rgba(25, 180, 237, 0.1);
                        }
                    }
                    
                    textarea {
                        border-bottom: 1px solid #d0d0d0;
                        color: #000;
                        
                        &:focus {
                            border-bottom: 3px solid #19b4ed;
                            background: rgba(25, 180, 237, 0.1);
                        }
                    }
                }
                
                .sbt {
                    
                    input {
                        background-color: #01aaea;
                    }
                }
            }
        }
        
        .cont-info {
            background-color: $dark_blue;

            h3 {
                color: #fefefe;
            }
            
            ul {
                
                li {
                    color: #fff;
                    
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.carrer-third-section {
    
    .section-content {
        
        .item {
            background-color: #01aaea;
            
            h3 {
                color: #fff;
            }
            
            h6 {
                color: #fff;
            }
            
            p {
                color: #fff;
                
                a {
                    color: #fff;
                }
            }
        }
    }
}

.blog-third-section {
    
    .section-header {
    }
    
    .admin-post {
        
        .post-adm {
            color: #000000;
        }
    }
    
    .section-content {
        
        .content-header-img {
        }
        
        .content-details {
            
            h5 {
                color: $bright_blue;
            }
            
            p {
                color: #383838;
                
                a {
                    color: $bright_blue;
                    
                    &:hover {
                        color: #000;
                    }
                }
            }
            
            span {
                color: #000;
            }
        }
    }
}

.agree-section {
    
    .section-content {
        
        h2 {
            color: $bright_blue;
        }
        
        p {
            color: #000;
        }
        
        h4 {
            color: $bright_blue;
        }
        
        .blue {
            
            &:hover {
                background-color: $purple;
            }
        }
        
        .purple {
            
            &:hover {
                background-color: $blue;
            }
        }
    }
}

.website-list {
    
    ul {
        
        .main {
            
            a {
                color: $purple;
                
                &:hover {
                    color: #000;
                }
            }
        }
        
        .sub-page {
            
            a {
                color: #9901cc;
                
                &:hover {
                    color: #000;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    
    .uptodate-section {
        
        .news-sec {
            
            li {
                
                h5 {
                    border: 1px solid #ec0477;
                }
            }
        }
    }
}