/*=======================================================

	// FOR min-width: 992px and max-width: 1199px;

=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin: 0 auto;
    padding-right: 15px;
  }
  .container .navbar-collapse {
    margin-right: -15px;
  }

  .main-navbar-top .navbar-nav {
    margin: 30px 53px 0px 0;
    float: right;
  }
  .main-navbar-top .navbar-nav li {
    margin-right: 0;
  }

  .navbar-home .navbar-collapse {
    margin-right: 38px;
  }
  .navbar-home .navbar-collapse .navbar-nav {
    margin-top: 10px;
  }
  .navbar-home .navbar-collapse .srcshow {
    margin-top: -39px;
  }
  .navbar-home .navbar-collapse .srcbox {
    margin-top: 0;
  }

  .navbar-brand {
    padding: 0;
    margin-left: 14px;
  }

  .srcshow {
    margin-top: -39px;
  }

  .srcbox {
    margin-top: -15px;
  }

    /*=======================================================

	// THIRD SECTION

    =========================================================*/
  .third-section .left .item-right:after {
    width: 100px;
    right: -84px;
  }
  .third-section .right-up .item-right:after {
    width: 150px;
    left: -146px;
  }
  .third-section .right-bottom .item-right:after {
    width: 150px;
    left: -146px;
  }

  /*============================= End Third Section =============================*/
    /*=======================================================

	// Footer SECTION

    =========================================================*/
  .footer .footer-content .footer-item .footer-logo ul li {
    padding: 0 1px;
  }
  .footer .footer-content .footer-item .footer-menu ul {
    margin: 0 auto 35px 31px;
    padding: 0;
  }
  .footer .footer-content .footer-item .footer-menu ul li {
    padding: 0 5px;
  }
  .footer .footer-content .footer-item .footer-cpy {
    padding-left: 30px;
  }

  /*============================= End Footer Section =============================*/
    /*=======================================================

	// header section

    =========================================================*/
  .sub-header {
    padding: 160px 0 60px;
  }

  /*============================= End Header Section =============================*/
  .sub-section .section-header h2 {
    font-size: 32px;
  }
  .sub-section .section-header h2 .second-h2 {
    font-size: 50px;
  }

  .font-size h2 {
    font-size: 36px !important;
  }

  .sub-section {
    padding: 40px 0 0;
  }

  .about-fourth-section .section-content .section-item h3 {
    font-size: 21px;
  }

  .skew-third-section .section-content {
    padding: 0 45px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-img {
    width: 170px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-img img {
    border-width: 3px;
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(1) .skew-item .item-blog {
    margin-right: 75px;
  }

  .man-skew-third-section .section-content {
    padding: 0 45px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-img {
    width: 170px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-img img {
    border-width: 3px;
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(1) .skew-item .item-blog {
    margin-right: 75px;
  }

  .solution-third-section .product-list ul li span {
    font-size: 13px;
  }

  .solution-fourth-section .section-content .item .item-details p {
    font-size: 17px;
  }

  .solution-fourth-section .section-content .item .item-details h3 {
    font-size: 24px;
  }

  .investor-third-section .section-content .section-item .item-img h3 {
    font-size: 24px;
    padding: 5px 0 14px;
  }
  .investor-third-section .section-content .section-item .item-img h3:after {
    border-left: 234px solid transparent;
  }

  .investor-fourth-section .adr-icon {
    margin-top: 35px;
  }
  .investor-fourth-section .invest-cnt h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .investor-fourth-section .invest-cnt ul li {
    font-size: 16px;
  }
  .investor-fourth-section .invest-rgt {
    margin-left: -45px;
  }

  .email-subscription .email-sub-left h2 {
    font-size: 32px;
  }

  .uptodate-section {
    padding-top: 50px;
  }
  .uptodate-section .news-sec {
    padding-top: 20px !important;
  }

  .carrer-third-section {
    padding-bottom: 20px;
  }

  .getintouch .section-header {
    margin-bottom: 70px;
  }
  .getintouch .section-header h2 {
    font-size: 32px;
  }
  .getintouch .section-header h2 .second-h2 {
    font-size: 50px;
  }
  .getintouch h2 {
    font-size: 32px;
  }

  .contact-section {
    margin-top: 220px;
  }
}
/*=======================================================

	// FOR max-width: 991px;

=========================================================*/
@media (max-width: 991px) {
  nav {
    display: none;
  }

  .srcshow {
    margin-top: -42px;
  }

  .srcbox {
    top: -42px;
  }

  .mobile-screen .navbar-brand {
    width: 100%;
    float: none;
  }
  .mobile-screen .navbar-brand img {
    margin: 0 auto;
  }

  .owl-theme .owl-controls {
    margin-top: 20px;
  }

  .solution-third-section {
    padding: 0;
  }
  .solution-third-section .section-content .icon-item .icon-img img {
    margin: 0 auto;
  }
}
/*=======================================================

	// FOR min-width: 992px;

=========================================================*/
@media (min-width: 992px) {
  .mobile-screen {
    display: none;
  }
}
@media (max-width: 992px) {
  .skew-third-section {
    padding-top: 15px !important;
  }
  .skew-third-section .section-content {
    padding: 0 0;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-img {
    width: 170px;
    position: unset;
    margin: 0 auto;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-img img {
    border-width: 3px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog {
    margin-top: 15px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h3, .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h6 {
    text-align: center;
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(2) .skew-item .item-blog, .skew-third-section .section-content .skew-bg ul li:nth-child(4) .skew-item .item-blog {
    margin-left: 0;
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(odd) {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(odd) .skew-item {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(odd) .skew-item .item-blog {
    margin-right: 0;
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(even) {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(even) .skew-item {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .skew-third-section .section-content .skew-bg ul li:nth-child(even) .skew-item .item-blog {
    margin-right: 0;
  }

  .man-skew-third-section {
    padding-top: 15px !important;
  }
  .man-skew-third-section .section-content {
    padding: 0 0;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-img {
    width: 170px;
    position: unset;
    margin: 0 auto;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-img img {
    border-width: 3px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog {
    margin-top: 15px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h3, .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h6 {
    text-align: center;
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(2) .skew-item .item-blog, .man-skew-third-section .section-content .skew-bg ul li:nth-child(4) .skew-item .item-blog {
    margin-left: 0;
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(odd) {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(odd) .skew-item {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(odd) .skew-item .item-blog {
    margin-right: 0;
    margin-left: 0;
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(even) {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(even) .skew-item {
    -webkit-transform: skew(0, 0deg);
    -moz-transform: skew(0, 0deg);
    transform: skew(0, 0deg);
  }
  .man-skew-third-section .section-content .skew-bg ul li:nth-child(even) .skew-item .item-blog {
    margin-right: 0;
    margin-left: 0;
  }

  .disFlexRowReverse {
    display: block;
  }

  .solution-fourth-section .section-content .item-img {
    width: 220px;
    margin: 0 auto;
  }

  .solution-fourth-section .section-content .item .item-img {
    width: 250px;
    margin: 0 auto;
  }
  .solution-fourth-section .section-content .item .item-details h3 {
    font-size: 24px;
  }
  .solution-fourth-section .section-content .item .item-details p {
    font-size: 16px;
  }
  .solution-fourth-section .section-content .item .item-details h3, .solution-fourth-section .section-content .item .item-details h4, .solution-fourth-section .section-content .item .item-details h6, .solution-fourth-section .section-content .item .item-details p {
    text-align: center;
  }
  .solution-fourth-section .section-content .item .item-details ul {
    padding-left: 15px;
  }

  .partner-third-section .section-content {
    text-align: center;
  }

  .investor-fourth-section {
    text-align: center;
  }
  .investor-fourth-section .adr-icon {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .investor-fourth-section .invest-cnt h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .investor-fourth-section .invest-cnt h5 {
    text-align: center;
    margin-bottom: 25px;
  }
  .investor-fourth-section .invest-cnt ul li {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
  }
  .investor-fourth-section .invest-rgt {
    margin-top: 40px;
  }

  .email-subscription .email-sub-left h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .uptodate-section {
    padding-top: 50px;
    margin-top: 0 !important;
  }
  .uptodate-section .news-sec {
    padding-top: 20px !important;
  }

  .carrer-third-section {
    padding-bottom: 20px !important;
  }
  .carrer-third-section .section-header h2 {
    font-size: 25px !important;
  }
  .carrer-third-section .section-content .solu-sec {
    background-size: 100%;
    text-align: center;
  }
  .carrer-third-section .section-content .solu-sec .solu-desc {
    width: inherit;
    float: none;
  }
  .carrer-third-section .section-content .solu-sec p {
    text-align: center !important;
  }
  .carrer-third-section .offer-header {
    margin-top: 40px;
  }
  .carrer-third-section .offer ul li {
    font-size: 19px;
    background-position: left 5px;
  }
}
/*=======================================================

	// FOR min-width: 768px and max-width: 991px;

=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  .button {
    padding: 7px 20px;
  }

  .section-header h2 {
    font-size: 30px;
  }
  .section-header p {
    padding: 0 15px;
  }

    /*=======================================================

	// HEADER SECTION

    =========================================================*/
  /*============================= End Header Section =============================*/
    /*=======================================================

	// SECOND SECTION

    =========================================================*/
  .second-section .section-content {
    margin-top: 30px;
    padding: 0 0px;
  }
  .second-section .section-content .section-item h3 {
    font-size: 16px;
  }
  .second-section .section-content .section-item p {
    line-height: 22px;
  }

  /*============================= End Second Section =============================*/
    /*=======================================================

	// THIRD SECTION

    =========================================================*/
  .third-section .left {
    top: 35%;
  }
  .third-section .left .item-left {
    width: 150px;
  }
  .third-section .left .item-right img {
    width: 80px;
  }
  .third-section .left .item-right:after {
    width: 140px;
    right: -90px;
    top: 22px;
  }
  .third-section .left h3 {
    font-size: 36px;
  }
  .third-section .left p {
    font-size: 18px;
  }
  .third-section .solution-img img {
    margin: 0 auto;
    width: 300px;
  }
  .third-section .right-up {
    top: 0;
  }
  .third-section .right-up .item-left {
    width: 166px;
  }
  .third-section .right-up .item-right img {
    width: 80px;
  }
  .third-section .right-up .item-right:after {
    width: 140px;
    left: -102px;
    top: 82px;
  }
  .third-section .right-up h3 {
    font-size: 36px;
  }
  .third-section .right-up p {
    font-size: 18px;
  }
  .third-section .right-bottom {
    top: 65%;
    right: 0;
  }
  .third-section .right-bottom .item-left {
    width: 166px;
  }
  .third-section .right-bottom .item-right img {
    width: 80px;
  }
  .third-section .right-bottom .item-right:after {
    width: 140px;
    left: -105px;
    top: 25px;
  }
  .third-section .right-bottom h3 {
    font-size: 36px;
  }
  .third-section .right-bottom p {
    font-size: 18px;
  }

  /*============================= End Third Section =============================*/
    /*=======================================================

	// FOURTH SECTION

    =========================================================*/
  .fourth-section .content-item h3 {
    font-size: 28px;
  }
  .fourth-section .content-item p {
    font-size: 18px;
  }

  /*============================= End Fourth Section =============================*/
    /*=======================================================

	// Footer SECTION

    =========================================================*/
  .footer .footer-content .footer-item .footer-logo ul {
    padding: 0;
    margin: 20px auto;
  }
  .footer .footer-content .footer-item .footer-logo ul li {
    padding: 0 2px;
  }
  .footer .footer-content .footer-item .footer-logo ul li a {
    font-size: 13px;
  }
  .footer .footer-content .footer-item .footer-menu ul li {
    padding: 0 23px;
  }
  .footer .footer-content .footer-item .footer-cpy {
    padding-left: 0;
  }

  /*============================= End Footer Section =============================*/
    /*=======================================================

	// header section

    =========================================================*/
  .sub-header {
    margin-top: 40px;
    padding: 50px 0;
  }

  /*============================= End Header Section =============================*/
  .sub-section .section-header h2 {
    font-size: 28px !important;
  }
  .sub-section .section-header h2 .second-h2 {
    font-size: 40px;
  }

  .font-size h2 {
    font-size: 36px !important;
  }

  .sub-section {
    padding: 40px 0 0px;
  }

  .about-fourth-section .section-content .section-item h3 {
    font-size: 21px;
  }

  .about-third-section .section-content .section-img {
    display: none;
  }

  .mobile-img {
    width: 120px;
    margin: 0 auto;
  }

  .about-third-section {
    padding: 0 0 20px;
  }
  .about-third-section .font-size {
    margin-top: 25px;
  }

  .solution-third-section .product-list ul li {
    width: 49%;
    margin-bottom: 5px;
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .solution-third-section .product-list ul li span {
    font-size: 16px;
  }

  .investor-third-section .section-content .section-item {
    min-height: 460px;
    margin-bottom: 10px;
  }
  .investor-third-section .section-content .section-item .item-img {
    width: 300px;
    margin: 0 auto;
  }
  .investor-third-section .section-content .section-item .item-img h3:after {
    border-left-width: 300px;
  }

  .getintouch .section-header {
    margin-bottom: 70px;
  }
  .getintouch .section-header h2 {
    font-size: 28px;
  }
  .getintouch .section-header h2 .second-h2 {
    font-size: 40px;
  }
  .getintouch h2 {
    font-size: 32px;
  }
  .getintouch .get-add {
    float: none;
  }
  .getintouch .form-info .cont-form {
    width: 100%;
  }
  .getintouch .form-info .cont-form ul .sbt {
    left: 50%;
    bottom: 0;
    top: 100%;
  }
  .getintouch .form-info .cont-info {
    width: 100%;
    margin-top: 60px;
  }
  .getintouch .form-info .cont-info h3 {
    margin-bottom: 20px;
  }
  .getintouch .form-info .cont-info ul li {
    margin-bottom: 15px;
  }
  .getintouch .form-info .cont-info .social-icon-contact {
    margin-top: 190px;
  }

  .contact-section {
    margin-top: 200px;
  }
}
@media (min-width: 993px) {
  .mobile-img {
    display: none;
  }
}
/*=======================================================

	// FOR max-width: 767px;

=========================================================*/
@media (max-width: 767px) {
  .button {
    padding: 12px 14px;
    font-size: 14px;
  }

  .section-header h2 {
    font-size: 30px;
  }
  .section-header p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
  }

   /*=======================================================

	// HEADER SECTION

    =========================================================*/
  /*============================= End Header Section =============================*/
    /*=======================================================

	// SECOND SECTION

    =========================================================*/
  .second-section .section-header h2 {
    text-transform: uppercase;
    margin-bottom: 21px;
    line-height: 75px;
  }
  .second-section .section-header .btn {
    font-size: 15px;
    padding: 13px 34px;
  }
  .second-section .section-content {
    padding: 0 0;
    margin-top: 30px;
  }
  .second-section .section-content .section-item {
    margin: 0 auto;
  }
  .second-section .section-content .section-item img {
    width: 100px;
  }

  /*============================= End Second Section =============================*/
    /*=======================================================

	// THIRD SECTION

    =========================================================*/
  .third-section {
    width: 100%;
    background: url(../../images/solutions-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0;
    background-size: 100% auto;
    padding-bottom: 70px;
  }
  .third-section .solution-content {
    position: inherit;
    display: flex;
    flex-direction: column;
  }
  .third-section .left {
    position: inherit;
    top: 0;
    z-index: 0;
    margin: 0 auto;
    width: 289px;
  }
  .third-section .left .item-left {
    float: left;
    width: 185px;
  }
  .third-section .left .item-right img {
    width: 90px;
  }
  .third-section .left .item-right:after {
    display: none;
  }
  .third-section .left h3 {
    font-size: 22px;
  }
  .third-section .left p {
    font-size: 18px;
  }
  .third-section .solution-img img {
    margin: 0 auto;
    width: 373px;
  }
  .third-section .right-up {
    position: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    margin: 0 auto;
    width: 289px;
    margin-bottom: 25px;
  }
  .third-section .right-up .item-left {
    float: right;
    width: 148px;
  }
  .third-section .right-up .item-right {
    float: left;
    margin-top: 11px;
    margin-right: 10px;
  }
  .third-section .right-up .item-right:after {
    display: none;
  }
  .third-section .right-up h3 {
    font-size: 22px;
  }
  .third-section .right-up p {
    font-size: 18px;
  }
  .third-section .right-bottom {
    position: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    margin: 0 auto;
    width: 289px;
  }
  .third-section .right-bottom .item-left {
    float: right;
    width: 148px;
  }
  .third-section .right-bottom .item-right {
    float: left;
    margin-top: 11px;
    margin-right: 10px;
  }
  .third-section .right-bottom .item-right:after {
    display: none;
  }
  .third-section .right-bottom h3 {
    font-size: 22px;
  }
  .third-section .right-bottom p {
    font-size: 18px;
  }

  /*============================= End Third Section =============================*/
    /*=======================================================

	// FOURTH SECTION

    =========================================================*/
  .fourth-section .no-pad:nth-child(1) {
    padding-right: 15px;
  }
  .fourth-section .no-pad:nth-child(2) {
    padding-right: 15px;
    padding-left: 15px;
  }
  .fourth-section .no-pad:nth-child(3) {
    padding-left: 15px;
  }
  .fourth-section .content-item h3 {
    font-size: 30px;
  }
  .fourth-section .content-item p {
    font-size: 20px;
  }

  /*============================= End Fourth Section =============================*/
    /*=======================================================

	// FIFTH SECTION

    =========================================================*/
  .fifth-section .section-header {
    margin-bottom: 55px;
  }
  .fifth-section .pad-left {
    padding-left: 0;
    padding-right: 0;
  }
  .fifth-section .content-item {
    padding-right: 0;
    padding-bottom: 40px;
  }
  .fifth-section .content-item .item-down p:nth-child(1) {
    margin-bottom: 30px;
  }
  .fifth-section .content-item .item-down p:nth-child(2) {
    position: relative;
  }

  /*============================= End Fifth Section =============================*/
    /*=======================================================

	// Eighth SECTION

    =========================================================*/
  .eighth-section .blog-slider {
    padding: 0 40px;
  }
  .eighth-section .blog-slider .item {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .eighth-section .blog-slider .item figure {
    width: 131px;
    height: 107px;
    position: inherit;
    margin: 0 auto;
  }
  .eighth-section .blog-slider .item figure img {
    width: 100%;
    height: 100%;
  }
  .eighth-section .blog-slider .item figcaption {
    position: absolute;
    top: inherit;
    bottom: 25px;
    left: 0;
  }

  /*============================= End Eighth Section =============================*/
    /*=======================================================

	// Footer SECTION

    =========================================================*/
  /*============================= End Footer Section =============================*/
     /*=======================================================

	// header section

    =========================================================*/
  .sub-header {
    margin-top: 40px;
    padding: 50px 0;
  }

  /*============================= End Header Section =============================*/
  .sub-section .section-header h2 {
    font-size: 28px !important;
  }
  .sub-section .section-header h2 .second-h2 {
    font-size: 40px;
  }

  .font-size h2 {
    font-size: 36px !important;
  }

  .sub-section {
    padding: 40px 0 0;
  }

  .about-fourth-section .section-content .section-item h3 {
    font-size: 16px;
  }

  .about-list ul li {
    font-size: 14px;
  }

  .about-third-section .section-content .section-img {
    display: none;
  }

  .mobile-img {
    width: 120px;
    margin: 0 auto;
  }

  .about-third-section {
    padding: 0 0 20px;
  }
  .about-third-section .font-size {
    margin-top: 25px;
  }

  .about-third-section .section-content .section-article ul {
    padding: 0;
  }
  .about-third-section .section-content .section-article ul li {
    font-size: 14px;
  }

  .about-third-section .section-content .section-article {
    padding-bottom: 20px;
  }

  .sub-header h1 {
    text-align: center;
  }

  .solution-third-section .section-content .icon-item {
    margin-bottom: 40px;
  }
  .solution-third-section .section-content .icon-item .icon-details {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .solution-third-section .section-content .icon-item .icon-details ul {
    position: relative;
    left: 50%;
    margin-left: -50px;
    text-align: left;
  }

  .solution-third-section .product-list ul li {
    width: 100%;
    margin-bottom: 5px;
    transform: none;
  }

  .solution-fourth-section .section-content .item {
    background-size: 100%;
    padding-bottom: 80px;
  }

  .solution-fourth-section .section-content .item .item-details h4, h6 {
    line-height: 35px !important;
  }

  .solution-fourth-section .section-content {
    padding: 0 15px;
  }

  .disFlexRowReverse {
    width: inherit;
  }

  .footer .footer-content .footer-item .footer-logo ul {
    padding: 0;
  }

  .investor-third-section .section-content .section-item .item-img {
    width: 290px;
    margin: 0 auto;
  }
  .investor-third-section .section-content .section-item .item-img h3:after {
    border-left-width: 290px;
  }

  .investor-third-section .down-header {
    margin-top: 20px;
  }

  .investor-fourth-section {
    text-align: left;
  }
  .investor-fourth-section .adr-icon {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100px;
    margin: 0 auto;
  }
  .investor-fourth-section .adr-icon img {
    width: 100%;
    margin: 0 auto;
  }
  .investor-fourth-section .invest-cnt h2 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .investor-fourth-section .invest-cnt h5 {
    text-align: left;
    margin-bottom: 25px;
  }
  .investor-fourth-section .invest-cnt ul li {
    font-size: 16px;
    width: inherit;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  .investor-fourth-section .invest-cnt ul li a {
    font-size: 16px;
  }
  .investor-fourth-section .invest-rgt {
    margin-top: 40px;
    width: 120px;
    margin: 40px auto 0 auto;
  }
  .investor-fourth-section .invest-rgt img {
    width: 100%;
    margin: 0 auto;
  }

  .uptodate-section {
    padding-top: 50px;
    margin-top: 0 !important;
  }
  .uptodate-section .news-sec {
    padding-top: 20px !important;
    padding-left: 0;
  }
  .uptodate-section .news-sec li {
    position: unset;
    padding: 35px 36px 45px 76px;
    background-image: url(../../images/blc-bg.png);
    background-repeat: no-repeat;
    background-position: left 18px top 40px;
    background-size: 50px;
  }
  .uptodate-section .news-sec li:before {
    display: none;
  }
  .uptodate-section .news-sec li h5 {
    position: unset;
    margin-top: 10px;
    border-radius: 50%;
    padding-top: 9px;
    margin-bottom: 13px;
  }
  .uptodate-section .news-sec li h5 a {
    font-size: 20px;
  }
  .uptodate-section .pagination {
    margin-left: 0;
  }

  .carrer-third-section .section-content .item {
    min-height: 300px;
  }

  .contact-section {
    margin-top: 200px;
  }

  .getintouch .section-header {
    margin-bottom: 70px;
  }
  .getintouch .section-header h2 {
    font-size: 28px;
  }
  .getintouch .section-header h2 .second-h2 {
    font-size: 40px;
  }
  .getintouch h2 {
    font-size: 32px;
  }
  .getintouch .get-add {
    float: none;
  }
  .getintouch .form-info .cont-form {
    width: 100%;
  }
  .getintouch .form-info .cont-form ul .sbt {
    left: 50%;
    bottom: 0;
    top: 100%;
  }
  .getintouch .form-info .cont-info {
    width: 100%;
    margin-top: 60px;
  }
  .getintouch .form-info .cont-info h3 {
    margin-bottom: 20px;
  }
  .getintouch .form-info .cont-info ul li {
    margin-bottom: 15px;
  }
  .getintouch .form-info .cont-info .social-icon-contact {
    margin-top: 190px;
  }
}
/*=======================================================

	// FOR max-width: 540px;

=========================================================*/
@media (max-width: 540px) {
    /*=======================================================

	// HEADER SECTION

    =========================================================*/
  /*============================= End Header Section =============================*/
    /*=======================================================

	// SIXTH SECTION

    =========================================================*/
  .sixth-section .stock {
    margin-left: 0;
    margin-right: 0;
  }

  /*============================= End Sixth Section =============================*/
    /*=======================================================

	// Eighth SECTION

    =========================================================*/
  .eighth-section .blog-slider .item figcaption {
    bottom: 0;
  }

  /*============================= End Eighth Section =============================*/
  .sub-section .section-header h2 {
    font-size: 15px !important;
    line-height: 0 !important;
  }
  .sub-section .section-header h2 .second-h2 {
    font-size: 22px;
    line-height: 45px;
  }

  .font-size h2 {
    font-size: 22px !important;
    line-height: 40px !important;
  }

  .sub-section {
    padding: 40px 0 0;
  }

  .solution-third-section {
    padding-top: 20px;
  }

  .about-third-section .section-content .section-img {
    display: none;
  }

  .mobile-img {
    width: 120px;
    margin: 0 auto;
  }

  .about-third-section {
    padding: 0 0 20px;
  }
  .about-third-section .font-size {
    margin-top: 25px;
  }

  .about-sixth-section .section-content .section-item h3 {
    font-size: 18px;
  }

  .skew-third-section .section-content {
    padding: 0 0;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h3 {
    font-size: 19px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h6 {
    font-size: 15px;
  }
  .skew-third-section .section-content .skew-bg ul li .skew-item .item-blog p {
    font-size: 15px;
  }

  .man-skew-third-section .section-content {
    padding: 0 0;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h3 {
    font-size: 19px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog h6 {
    font-size: 15px;
  }
  .man-skew-third-section .section-content .skew-bg ul li .skew-item .item-blog p {
    font-size: 15px;
  }

  .solution-third-section .section-content .arow-bg li {
    width: 50px;
  }

  .product-list {
    margin-top: 0 !important;
  }
  .product-list ul li span {
    font-size: 14px !important;
  }

  .email-subscription .email-sub-left h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .email-subscription .email-sub-left h2 span {
    font-size: 16px;
  }

  .financial-third-section .section-content ul li {
    margin-bottom: 10px;
  }
  .financial-third-section .section-content ul li a {
    font-size: 16px;
  }

  .carrer-third-section {
    padding-bottom: 20px !important;
  }
  .carrer-third-section .section-header h2 {
    font-size: 20px !important;
  }
  .carrer-third-section .section-content .solu-sec {
    background-size: 100%;
    text-align: center;
    padding-bottom: 45px;
  }
  .carrer-third-section .section-content .solu-sec .solu-desc h4 {
    font-size: 19px;
  }
  .carrer-third-section .section-content .solu-sec .solu-desc p {
    font-size: 15px;
  }
  .carrer-third-section .section-content .solu-sec p {
    text-align: center !important;
  }

  .carrer-third-section .section-content .item {
    min-height: 300px;
  }

  .contact-section {
    margin-top: 260px;
  }
  .contact-section .section-content {
    margin-bottom: 40px;
  }

  .getintouch .form-info .cont-form ul li {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  .getintouch .form-info .cont-form {
    padding: 50px 20px 40px 20px;
  }

  .getintouch .form-info .cont-form ul .email, .getintouch .form-info .cont-form ul .company {
    float: none;
  }

  .getintouch .form-info .cont-form ul .sbt {
    left: 50%;
    bottom: 0;
    top: 100%;
    margin-top: 20px;
    margin-left: -30px;
  }

  .getintouch .form-info .cont-info {
    padding: 50px 20px 80px;
  }

  .getintouch h2 {
    font-size: 24px;
  }

  .getintouch .section-header h2 {
    font-size: 15px;
  }
  .getintouch .section-header h2 .second-h2 {
    font-size: 22px;
  }
}
